<link rel="stylesheet" type="text/css" href="./l.css" />

<ol class="list">
  <li class="no-icon-next">
    <span class="required">排他类型
      <div class="check-group fr">
        <div class="check-button">
          <input type="radio" name="exclusive-type" value="排M" />
          <label>排M</label>
        </div>
        <div class="check-button">
          <input type="radio" name="exclusive-type" checked value="独家" />
          <label>独家</label>
        </div>
      </div>
    </span>
  </li>

  <li class="no-icon-next">
    <span class="required">复选类型
      <div class="check-group fr">
        <div class="check-button">
          <input type="checkbox" checked value="可读" />
          <label>可读</label>
        </div>
        <div class="check-button">
          <input type="checkbox" checked value="可写" />
          <label>可写</label>
        </div>
      </div>
    </span>
  </li>
</ol>
