<link rel="stylesheet" type="text/css" href="./l.css" />

<ol class="list checkbox-list" data-id="checkbox-list">
  <li class="no-icon-next">
    <span>法人
      <div class="checkbox">
        <input type="checkbox" checked name="role" value="关键联络人" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
  <li class="no-icon-next">
    <span>订单确认人
      <div class="checkbox">
        <input type="checkbox" name="role" value="订单确认人" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
  <li class="no-icon-next">
    <span>账号管理人
      <div class="checkbox">
        <input type="checkbox" name="role" value="账号管理人" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
</ol>
