<link rel="stylesheet" type="text/css" href="./l.css" />

<!--
  @import './common/component/icon.less'
-->
<ul class="list detail-list">
  <li class="no-icon-next">
    <span><i class="icon-address"></i>地址</span>
    <span data-id="address">上海市长宁区安化路492号C座2楼</span>
  </li>
  <li>
    <span><i class="icon-phone"></i>电话</span>
    <span data-id="phone">13678901234</span>
  </li>
  <li class="no-icon-next">
    <span><i class="icon-statistic"></i>月浏览量</span>
    <span data-id="visit">6273 次</span>
  </li>
</ul>