<link rel="stylesheet" type="text/css" href="./l.css" />

<!--
  @import './common/component/filter.less'
  @import './common/component/mask.less'
-->
<ul class="filter" data-id="filter">
  <li data-type="range">
    <a href="#" data-class="title">附近</a>
    <ol class="option-list">
      <li data-value="500">500m</li>
      <li data-value="1000">1000m</li>
      <li data-value="2000">2000m</li>
      <li data-value="3000" class="checked">3000m</li>
      <li data-value="5000">5000m</li>
    </ol>
  </li>
  <li data-type="category" class="open">
    <a href="#" data-class="title">全部</a>
    <ol class="option-list">
      <li class="checked" data-value="0">全部</li>
      <li data-value="10">美食</li>
      <li data-value="30">休闲娱乐</li>
      <li data-value="20">购物</li>
      <li data-value="50">丽人</li>
      <li data-value="45">运动健身</li>
      <li data-value="60">酒店</li>
      <li data-value="65">爱车</li>
      <li data-value="80">生活服务</li>
    </ol>
  </li>
  <li data-type="sortby">
    <a href="#" data-class="title">浏览量降序</a>
    <ol class="option-list">
      <li class="checked" data-value="1">浏览量降序</li>
      <li data-value="2">浏览量升序</li>
    </ol>
  </li>
</ul>