<link rel="stylesheet" type="text/css" href="./l.css" />

<ol class="list radio-list">
  <li class="no-icon-next">
    <span>经理
      <div class="radio">
        <input type="radio" name="position" value="经理" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
  <li class="no-icon-next">
    <span>店长
      <div class="radio">
        <input type="radio" name="position" value="店长" checked />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
  <li class="no-icon-next">
    <span>董事长
      <div class="radio">
        <input type="radio" name="position" value="董事长" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
  <li class="no-icon-next">
    <span>其他
      <div class="radio">
        <input type="radio" name="position" value="其他" />
        <label><i></i>
        </label>
      </div>
    </span>
  </li>
</ol>
