<link rel="stylesheet" type="text/css" href="./l.css" />
<!--
  @import ./common/component/default-list.less
  @import ./common/component/edit-list.less
-->
<ol class="list edit-list">
  <li>
    <span>客户</span>
  </li>
  <li class="no-icon-next required">
    <div class="controls">
      <label>合同编号</label>
      <input type="text" placeholder="必填" />
    </div>
  </li>
  <li data-id="add-start-time" class="required blank">
    <span>开始时间<b>未设置</b>
    </span>
  </li>
</ol>
<h2 class="sub-title">SubTitle</h2>
<ol class="list edit-list">
  <li>
    <span>客户</span>
  </li>
  <li class="no-icon-next required">
    <div class="controls">
      <label class="required">合同编号</label>
      <input type="text" placeholder="必填" />
    </div>
  </li>
  <li class="required blank">
    <span>开始时间<b>未设置</b>
    </span>
  </li>
  <li class="required">
    <span>开始时间<b>2014-07-02</b>
    </span>
  </li>
  <li class="blank">
    <span>开始时间<b>未设置</b></span>
  </li>
  <li class="digital">
    <span>数量<b>12</b></span>
  </li>
</ol>