.red {
  color: #ff717d;
}
* {
  padding: 0px;
  margin: 0px;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
  -webkit-backface-visibility: hidden;
}
html {
  width: 100%;
  min-height: 100%;
  background-color: #f0f0f0;
}
body {
  font: normal 16px Arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: #f0f0f0;
}
ul,
ol {
  list-style: none;
}
a {
  text-decoration: none;
  outline: none;
}
address {
  font-style: normal;
}
.fl {
  float: left;
}
.fr {
  float: right;
}
.clearfix {
  *zoom: 1;
}
.hide,
.Hide {
  display: none;
}
.clearfix:before,
.clearfix:after {
  display: table;
  line-height: 0;
  content: "";
}
.clearfix:after {
  clear: both;
}
.hold-height {
  height: 60px;
}
.sub-title {
  font-size: 1em;
  padding-left: 1em;
  padding-right: 1em;
  color: #000000;
  margin-bottom: 0.5em;
}
.saving {
  position: fixed;
  background: rgba(30, 30, 30, 0.8);
  color: white;
  text-align: center;
  border-radius: 5px;
}
.saving.hide {
  display: none;
}
.toast {
  position: fixed;
  width: 8em;
  padding: 1em;
  background: rgba(30, 30, 30, 0.8);
  color: white;
  text-align: center;
  top: 50%;
  left: 50%;
  border-radius: 5px;
  margin-left: -5em;
  margin-top: -4.5em;
  z-index: 11;
}
.toast.hide {
  display: none;
}
/** default list view **/
.list {
  margin-bottom: 1em;
  background-color: #ffffff;
  border-top: 1px solid #d7d7d7;
  border-bottom: 1px solid #d7d7d7;
}
.list > li {
  position: relative;
  margin-left: 0.5em;
  border-bottom: 1px solid #e1e1e1;
}
.list > li > a,
.list > li > span {
  display: block;
  padding: 1em 1.8em 1em 0;
  color: #737373;
}
.list > li:last-child {
  border-bottom: none;
}
.list > li:after {
  position: absolute;
  display: block;
  right: 0.8em;
  top: 50%;
  content: ' ';
  width: 10px;
  height: 10px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  margin-top: -6px;
  border-right: 3px solid #bbbbbb;
  border-top: 3px solid #bbbbbb;
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  overflow: hidden;
}
.list > li.no-icon-next:after,
.list > li.disabled:after {
  display: none;
}
.list > li.no-icon-next > a,
.list > li.disabled > a,
.list > li.no-icon-next > span,
.list > li.disabled > span {
  padding-right: 0.8em;
}
.empty-list {
  height: 5em;
  line-height: 5em;
  text-align: center;
  color: #878787;
}
.edit-list li.required > span:after,
.edit-list li.required > label:after,
.edit-list li.required .controls label:after {
  position: relative;
  top: 0.25em;
  content: ' *';
  color: #ea9710;
}
.edit-list li.required.blank > span b,
.edit-list li.error > span b,
.edit-list li.required.blank > a b,
.edit-list li.error > a b {
  color: #ea9710;
}
.edit-list li.blank > span b,
.edit-list li.blank > a b {
  color: #cccccc;
}
.edit-list li.digital > span b,
.edit-list li.digital > a b {
  color: #2f93d2;
}
.edit-list li > span,
.edit-list li > a {
  color: #bbbbbb;
}
.edit-list li > span b,
.edit-list li > a b {
  position: absolute;
  top: 50%;
  right: 2em;
  margin-top: -0.5em;
  font-weight: normal;
  color: #000000;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  text-align: right;
}
.edit-list li .controls {
  display: flex;
  display: -webkit-flexbox;
  display: -webkit-box;
  height: 3em;
  line-height: 3em;
  margin-right: 1.3em;
}
.edit-list li .controls label {
  display: block;
  min-width: 5em;
  overflow: hidden;
  text-overflow: ellipsis;
  color: #bbbbbb;
}
.edit-list li .controls input {
  display: block;
  flex: 1;
  -webkit-flex: 1;
  -webkit-box-flex: 1;
  border: none;
  height: 100%;
  font-size: 1em;
  padding: 0 0.5em;
}
