<link rel="stylesheet" type="text/css" href="./l.css" />

<!--
  @import './common/component/star.less'
-->

<ol class="list shop-list" data-id="shop-list">
  <li data-shopid="6015711">
    <h3>首尔焖鲜汇</h3>
    <div class="line-panel">
      <span class="star s45"></span>
      <span class="category">韩国料理</span>
    </div>
    <address class="line-panel">天钥桥路333号腾飞大厦2-18室</address>
    <div class="line-panel customer"><a href="#">上海首尔餐饮管理有限公司</a></div>
  </li>

  <li data-shopid="9947818">
    <h3>La Creperie</h3>
    <div class="line-panel">
      <span class="star s45"></span>
      <span class="category">法国菜</span>
    </div>
    <address class="line-panel">南京西路1601号越洋广场芮欧百货1楼D座</address>
    <div class="line-panel customer"><a href="#"></a></div>
  </li>

  <li data-shopid="13813428">
    <h3>Pulupulu主题游戏馆</h3>
    <div class="line-panel">
      <span class="star s45"></span>
      <span class="category">游艺厅</span>
    </div>
    <address class="line-panel">黄浦区苗江路139号</address>
    <div class="line-panel customer"><a href="#">上海濮瑞文化创意有限公司</a></div>
  </li>
</ol>